<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>H@U! - TaxiForecast - Hệ thống quản lý vận tải tối ưu</title>

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/themes/TaxiForecast/css/bootstrap.min.css")" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/Content/themes/TaxiForecast/css/metisMenu.min.css")" rel="stylesheet" type="text/css">
    <!-- Timeline CSS -->
    <link href="@Url.Content("~/Content/themes/TaxiForecast/css/timeline.css")" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/themes/TaxiForecast/css/startmin.css")" rel="stylesheet" type="text/css">
    <!-- Morris Charts CSS -->
    <link href="@Url.Content("~/Content/themes/TaxiForecast/css/morris.css")" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Content/themes/TaxiForecast/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body onload="initialize()" onunload="GUnload()">

       <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Content("~")"><i class="fa fa-car fa-fw"> </i> HaUI - TaxiForecast</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            @*<li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </li>*@
                            <li>
                                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Báo cáo tổng hợp</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="@Url.Content("~/Home/ScoreBoard")">Bảng xếp hạng dự đoán</a>
                                    </li>
                            </ul>
                            </li>
                            <li>
                                <a href="@Url.Content("~/Home/Index")" class="active"><i class="fa  fa-bar-chart fa-fw"></i>Điều phối vận hành</a>
                            </li>
                            @*<li>
                                 <a href="index.html" class="active"><i class="glyphicon glyphicon-star-empty"></i> Xếp hạng</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Bảng thống kê<span class="fa arrow"></span></a>
                               
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="flot.html">Bảng thống kê 1</a>
                                    </li>
                                    <li>
                                        <a href="morris.html">Bảng thống kê 2</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>*@
                            
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">Bản đồ dữ liệu dự đoán
                            
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                 @RenderBody();
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="@Url.Content("~/Content/themes/TaxiForecast/js/jquery.min.js")"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="@Url.Content("~/Content/themes/TaxiForecast/js/bootstrap.min.js")"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="@Url.Content("~/Content/themes/TaxiForecast/js/metisMenu.min.js")"></script>

        <!-- Morris Charts JavaScript -->
        <script src="@Url.Content("~/Content/themes/TaxiForecast/js/raphael.min.js")"></script>
        <link href="@Url.Content("~/Content/themes/TaxiForecast/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <script src="@Url.Content("~/Content/themes/TaxiForecast/js/morris.min.js")"></script>
      @*  <script src="@Url.Content("~/Content/themes/TaxiForecast/js/morris-data.js")"></script>*@
        <link href="@Url.Content("~/Content/themes/TaxiForecast/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

        <!-- Custom Theme JavaScript -->
        <script src="@Url.Content("~/Content/themes/TaxiForecast/js/startmin.js")"></script>

    </body>
</html>
